<%- include("partials/header"); -%>
<div>
    <%- include("partials/search"); -%>
    <% if (locals.found && locals.pokemonData) { %>
            
            <%- include("partials/pokemon_form"); %>

        <% } else if (!locals.found && locals.pokemonName) { %>
            <p>Unknown option for "<%= locals.pokemonName %>", try it again.</p>
        <% } %>

        <% if (locals.error) { %>
            <p>Error: <%= locals.error %></p>
        <% } %>

    </main>
</div>
<%- include("partials/footer"); -%>