<%- include("partials/header"); -%>

<% if(locals.name) { %>
    <p>Hi <%= name %></p>
<% } %>

<h1>Pokémon Search</h1>
<form id="pokemon-search-form" method="POST" action="/search">
    <input id="pokemon-name" name="name" type="text" placeholder="Enter a Pokémon name" required>
    <button type="submit">Search</button>
</form>

<% if (locals.pokemonData) { %>
    <h2><%= locals.pokemonData.name %> (ID: <%= locals.pokemonData.id %>)</h2>
    <p>Type: <%= locals.pokemonData.types.map(type => type.type.name).join(', ') %></p>
    <p>Abilities: <%= locals.pokemonData.abilities.map(ability => ability.ability.name).join(', ') %></p>
    <p>Moves: <%= locals.pokemonData.moves.map(move => move.move.name).join(', ') %></p>
<% } %>

<%- include("partials/footer"); -%>