<%- include("partials/header"); -%>



<% if(locals.name) { %>

    <p>hi <%= name %></p>
    <p>hi <%= name %></p>
    <p>hi <%= name %></p>
    <p>hi <%= name %></p>
    <p>hi <%= name %></p>
    <p>hi <%= name %></p>
    <p>hi <%= name %></p>


<% } %>



</div>
<%- include("partials/footer"); -%>